# description: The default Assistant SID you want to use
# format: sid
# required: true
ASSISTANT_SID=

# description: The TaskRouter Workspace SID for handing over conversations to a human
# format: sid
# required: false
FLEX_WORKSPACE_SID=

# description: The TaskRouter Workflow SID for handing over conversations to a human
# format: sid
# required: false
FLEX_WORKFLOW_SID=

# description: The default Studio Flow you want to hand the conversation over to
# format: sid
# required: false
STUDIO_FLOW_SID=

## LOGGER
APP_NAME=HDI_TWILIO
ENV=

GRAFANA_LOKI_HOST=https://logs-prod-xxx.grafana.net
GRAFANA_LOKI_USER=xxxxxx
GRAFANA_LOKI_TOKEN=xxxx

LOG_TO_GRAFANA=true | false
